

//通用（但不确定是否应该加进common.css里）
.title-common-style{
    text-align: center;
    color: #585858;
    font-weight: bold;
    width: 100%;
    display: table;
    letter-spacing:0.1em;
}
.title{
    font-size: 32px;
    //margin-top: 160px;
    .title-common-style;
}
.h0{
    font-size:2.5em;
    .title-common-style;
}
.h1{
    font-size:2em;
    .title-common-style;
}
.h2{
    font-size:1.5em;
    .title-common-style;
}
.h3{
    font-size: 1.17em;
    .title-common-style;
}
.h4{
    .title-common-style;
}
.h5{
    font-size: 0.875em;
    font-weight:normal;
    .title-common-style;
}
.h6{
    font-size: 0.75em;
    font-weight:normal;
    .title-common-style;
}
.auto-height{
    height:1000px;
    @media (max-height: 500px){
        height:300px;
    }
}

.fast-build-page{
    max-width:1000px;
    & p{
        text-align:left;
        margin:21px auto;
        &:hover{
            background:rgba(218, 253, 251, 0.6);
        }
    }
    & img{
        display:block;
        margin-left: 0;
        border:2px gainsboro solid;
    }
}




//覆盖通用样式
.jianju{
    height:86px;
}




//覆盖element样式
.el-menu-item{
    padding:0;
    a{
        padding:0 20px;
        height:inherit;
        display: block;
        text-decoration:none;
        color:inherit;
    }
}
.el-menu{
    border-right:none;
}//让prompt的按钮靠左
.customClass .el-message-box__btns{
    text-align:left;
}

//拖拽条
.drag-bar__{
    margin:41px auto 12px;
    width: 780px;
    height: 28px;
    position: relative;
}
.drag-bar__wrap-bg{
    width:100%;
    background-color:white;
    height:10px;
    top:7px;
    position:absolute;
    border-radius:6px;
    border:2px #bfbfbf solid;
}




//表格
.table-wrap{position:relative;margin:auto; display: table;}
.table{text-align:center;margin:auto}
.table tr:nth-child(1) td{background:rgb(214, 231, 251)}
.table tr.delet_time td:not(:nth-child(1)):hover{background:rgb(251, 31, 18);color:white;cursor:pointer}
.table td:nth-child(1){background:rgb(214, 231, 251);white-space:nowrap;}
.table td {width:111px;}
.table td:nth-child(2n) {background:rgba(180, 176, 177, 0.2) }
.table tr:nth-child(2n) {background:rgba(180, 176, 177, 0.2) }
.table td.td_ongoing/*时间段正在进行的样式*/ {background:rgba(247, 247, 194, 0.45)}
.table__input__can{background:rgba(251, 247, 191, 0.71) !important;}
.control-button{
    font-size:14px;
    padding:6px 12px;
    margin-top:-4px;
    margin-bottom:-4px;
}




//logo+网站名
.logo-and-name__{
    height:46px;
    width:310px;
    position:relative;
    &logo{
        position:absolute;
        left:0;
        height:46px;
        width:46px;
        background:url(../assets/img/logo_46px_darkbg.png);
    }
    &name{
        position:absolute;
        left:70px;
        line-height:46px;
        font-size:28px;
        letter-spacing:11px;
    }
}


.el-carousel__container{
    height:777px;
}


//导航条
@nav_height:104px;
@nav_lar_margin:96px;
.nav__{
    min-height:@nav_height;
    border:none;
    padding:0 @nav_lar_margin;
    //overflow:hidden;
    & .el-menu-item{
        font-size:16px;
        letter-spacing:8px;
        text-indent:8px;
        &:hover{
            background:none!important;
        }
    }
    &__transparent{
        background:none;
        & .el-menu-item,.logo-and-name__name{
            color:white!important;
        }
    }
    &__whitebg{
        background-color:white;
        box-shadow:0 -9px 21px black;
        & .el-menu-item,.logo-and-name__name{
            color:black!important;
        }
        .logo-and-name__logo{
            background:url("../assets/img/logo_46px_lightbg.png");
        }
    }
    &__opaque{
        background:white;
        & .el-menu-item,.logo-and-name__name{
            color:black!important;
        }
    }
    & .logo-and-name__{
        padding: 29px 0;
        margin-right:67px;
    }
    & .el-menu-item{
        height:@nav_height;
        line-height:@nav_height;
    }
}



//主页样式
.home-banner{
    width:100%;height:777px;min-width:1400px;
    background-size:cover;
    &-1{
        background: url(../assets/img/banner_home_1.jpg) no-repeat center;
    }
}
.home-part2__{
    max-width:1000px;
    padding-bottom:25px;
    @media (max-width: 1000px){
        background:url(../assets/img/home_2_1.png) no-repeat center;
    }
    @media (max-width: 490px){
        & .jianju{
            height:23px;
        }
    }
    &1{
        height:2px;width:90px;
        height:2px;background-color:#dcdcdc;
        margin-top:9px;
    }
    &2{
        height:444px;
        background:url(../assets/img/home_2_1.png) no-repeat bottom;
        position:relative;
        @media (max-width: 1000px){
            width: 686px;
            height: 293px;
            background:none;
            &-triangle{
                display:none;
            }
            & .gray-block{
                float:left;
                position:static;
                margin:11px 0 11px 22px ;
            }
        }
        @media (max-width: 686px){
            width:490px;
            height: 433px;
        }
        @media (max-width: 490px){
            width:100%;
            min-width:271px;
            height:706px;
            & .gray-block{
                float:none;
                margin:22px auto;
            }
        }
        &-1{
            width:193px;height:90px;left:144px;top:23px;
        }
        &-2{
            width:190px;height:90px;left:111px;top:164px;
        }
        &-3{
            width:200px;height:90px;left:46px;top:304px;
        }
        &-4{
            width:166px;height:90px;left:655px;top:23px;
        }
        &-5{
           width:271px;height:90px;left:695px;top:163px;
        }
        &-6{
           width:160px;height:119px;left:771px;top:306px;
        }
        & .gray-block{
            background-color:#e5e5e5; border-radius:14px;font-size:18px;line-height:34px;text-align:left;box-sizing:border-box;padding:9px 0 0 28px;
        }
    }
}
.home-part3__{
    background-color:#eee;
    padding-top:51px;
    padding-bottom:86px;
    &1{
        width: 1000px;
        @media (max-width: 1000px){
            width: 350px;
        }
        &-wrap{
            width:350px;
            height:148px;
            float:left;
            margin:23px 0 23px 100px;
            background-color:white;
            overflow:hidden;
            @media (max-width: 1000px){
                margin:23px 0;
            }
            transition:.3s ease-in;
            &:hover{
                transform:translateY(-2px);
                box-shadow: 3px 5px 18px #afafaf;
            }
        }
        &-icon{
            margin-top:31px;
            margin-left:16px;
        }
        &-line{
            width:2px;
            height:102px;
            margin-top:22px;
            margin-left:16px;
            background-color:#c9c9c9;
        }
        &-textarea{
            width:178px;
            margin-left:26px;
            text-align:left;
            &__2lines{
                margin-top:28px;
            }
            &__3lines{
                margin-top:19px;
            }
        }
        &-title{
            font-size:20px;
            margin-bottom:16px;
        }
        &-maintext{}
    }
}
.home-part4__{
    background-color:#00a0e9;
    padding:79px 0 33px;
    &1-wrap{
        width:944px;
        margin-top:69px;
        @media(max-width:944px){
            width:502px;
        }
        @media(max-width:723px){
            width:281px;
        }
    }
    &1-item{
        margin-left:60px;
        margin-bottom:46px;
    }
    &1-name{
        color:white;
        font-size:24px;
        margin-top:10px;
    }
}
.home-footer__{
    background-color:#191c1c;
    color:white;
    padding:(90px-66px) 0 90px;
    text-align:left;
    &1-wrap{
        width:944px;
        @media (max-width: 944px){
            width: 587px;
        }
        @media (max-width: 587px){
            width: 374px;
        }
    }
    &1-item{
        letter-spacing:.2em;
        width:237px;
        margin-left:47px;
        margin-top:66px;
        & li{
            list-style:disc inside;
            margin-bottom:11px;
        }
    }
    &1-title{
        letter-spacing:.2em;
        font-size:22px;
        font-weight:bold;
        margin-bottom:31px;
    }
    &1-marginbottom{
        margin-bottom:11px;
    }
    &1-links{
        margin-right:27px;
        color:white;
        cursor:pointer;
    }
}






